
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

    <div class="row mt-5">
        <div class="col-md-4">
            <img src="~/img/Alarm-Error-icon.png" class="w-100 img-fluid"/>
        </div>
        <div class="col-md-8">
            <p class="display-4 text-danger">Bir hata oluştu. Teknik ekibimiz bilgilendirildi. İlgili hata en kısa zamanda fixlenecek.</p>
         
        </div>
    </div>

